/* FriendListItem.module.css */

.item {
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .avatar {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  
  /* Kolor tła dla statusu Online */
  .statusOnline {
    background-color: green;
  }
  
  /* Kolor tła dla statusu Offline */
  .statusOffline {
    background-color: red;
  }
  
  /* Dodano efekt hover dla elementu */
  .item:hover {
    background-color: #f0f0f0;
  }
  